<div class="form-container">
  <h1>All list of registration</h1>

  <table>
      <div>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
      </div>

    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= registration.first_name %></td>
          <td><%= registration.last_name %></td>
          <td><%= registration.email %></td>
          <td><%= registration.phone %></td>
          <td><%= registration.subject %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="button-allList">
     <%= link_to 'กลับหน้าลงทะเบียน', new_registration_path, class: 'new-registration' %>
  </div>
</div>