<div class="form-container">
  <h1>All User</h1>

  <table>
      <head>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
        <th>delete</th>
        <th>edit</th>
      </head>

    <tbody>
      <% @registrations.each do |registration| %>
        <div>
          <td><%= registration.first_name %></td>
          <td><%= registration.last_name %></td>
          <td><%= registration.email %></td>
          <td><%= registration.phone %></td>
          <td><%= registration.subject %></td>
          <td>
             <%= button_to 'ลบ', registration_path(registration), method: :delete, class: 'delete-button' %>
            </td>
            <td>
              <%= link_to 'แก้ไข', edit_registration_path(registration), class: 'edit-button' %>
            </td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="button-allList">
     <%= link_to 'กลับหน้าลงทะเบียน', new_registration_path, class: 'new-registration' %>
  </div>
</div>